@font-face {
  font-family: "iconfont"; /* Project id 3602366 */
  src: url('iconfont.woff2?t=1661092106306') format('woff2'),
       url('iconfont.woff?t=1661092106306') format('woff'),
       url('iconfont.ttf?t=1661092106306') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-gouwugouwuchedinggou:before {
  content: "\e682";
}

.icon-dingdanjihe:before {
  content: "\e897";
}

.icon-wode:before {
  content: "\e8a0";
}

